{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/pictures/collegeplus2.png'%}"/>
    <link rel="shortcut icon" href="{% static '/pictures/collegeplus2.png'%}" />
    <link rel="address bar icon" href="{% static '/pictures/collegeplus2.png'%}"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/pictures/collegeplus2.png'%}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/pictures/collegeplus2.png'%}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/pictures/collegeplus2.png'%}"/>
    <link rel="manifest" href="/site.webmanifest">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Outline&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href = "{% static '/styles/mdegree_rec.css'%}">
    </link>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js">
    </script>
    <script src="{% static '/scripts/degree.js'%}">
    </script>
    <meta charset="utf-8">
    <title>Degree Recommendations</title>
    </head>
    <script data-ad-client="ca-pub-2209994521755973" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-2209994521755973",
              enable_page_level_ads: true
        });
    </script>
    <script>
        var fileReader = new FileReader();
        var filterType = /^(?:image\/bmp|image\/cis\-cod|image\/gif|image\/ief|image\/jpeg|image\/jpeg|image\/jpeg|image\/pipeg|image\/png|image\/svg\+xml|image\/tiff|image\/x\-cmu\-raster|image\/x\-cmx|image\/x\-icon|image\/x\-portable\-anymap|image\/x\-portable\-bitmap|image\/x\-portable\-graymap|image\/x\-portable\-pixmap|image\/x\-rgb|image\/x\-xbitmap|image\/x\-xpixmap|image\/x\-xwindowdump)$/i;
        var bool = false;
        fileReader.onload = function (event) {
          var image = new Image();
          
          image.onload=function(){
              document.getElementById("original-Img").src=image.src;
              var canvas=document.createElement("canvas");
              var context=canvas.getContext("2d");
              canvas.width=image.width/4;
              canvas.height=image.height/4;
              const outputImageAspectRatio = 1;
              let outputWidth = 175;
              let outputHeight = 175;
              const inputImageAspectRatio = image.width / image.height;
              if (inputImageAspectRatio > outputImageAspectRatio) {
                  outputWidth = 175 * outputImageAspectRatio;
              } else if (inputImageAspectRatio < outputImageAspectRatio) {
                  outputHeight = 175 / outputImageAspectRatio;
              }else{
                bool = true;
              }
              canvas.width = 175;
              canvas.height = 175;
              context.drawImage(image,
                  0,
                  0,
                  175,
                  175,
         
              );
              $("#prompt").text("DOWNLOAD AND SUBMIT THIS!");
              document.getElementById("upload-Preview").src = canvas.toDataURL();
          }
          image.src=event.target.result;
        };
  
        var loadImageFile = function () {
          console.log("helo")
          var uploadImage = document.getElementById("mainImage");
          
          //check and retuns the length of uploded file.
          if (uploadImage.files.length === 0) { 
            return; 
          }
          
          //Is Used for validate a valid file.
          var uploadFile = document.getElementById("mainImage").files[0];
          if (!filterType.test(uploadFile.type)) {
            alert("Please select a valid image."); 
            return;
          }
          
          fileReader.readAsDataURL(uploadFile);
        }
  
     
      </script>
    <script>
      function stripExtras(str){
        if(str.length == 0){
          return [];
        }
        let tempString = str.split(",");

        // for(let i = 0 ; i < tempString.length; i++){
        //   tempString[i] = tempString[i].substring(1, tempString[i].length-1);
        // }
        return tempString;
      }
      function onLoad(){
        let majors = stripExtras($("#majors").text());
        let majorUrls = stripExtras($("#majorLinks").text());
        let majorDescriptions = $("#majorDescriptions").text().split("^");

          for(var i = 0; i < majors.length; i++){

              $("#recs").append(renderHTML(majors[i], majorUrls[i], majorDescriptions[i], (i+1)));
          }
          $("#logout").click(function(){
            document.cookie = "username=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            document.cookie = "password=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            document.location.href = "/logout";
          });
          $("#logout").hover(function(){
            $("#logout").css("cursor", "pointer");
          });
      }

      function renderHTML(major, url, description, num){
        let tempstring = "<div style = 'text-align: center;'>"+
          "<p style='margin-bottom: 10px; color: black;'>"+
            num + ".  <m id='firstmajor'>"+ major +"</m><br><br>" + 
          "</p>" +
          "<form action='' id='engineeringbutton' style='display: none;' action='/engineeringSubQuestions'>"+
            "<input type='submit' value='But which type of Engineering?' id = 'buttonforengineers'/>"+
          "</form>"+
          "<p style= 'font-size: 18pt; max-width: 80%; margin-left: auto; margin-right: auto; line-height: 28pt; color : black'>"+
            description+
          "</p>"+
          "<button onclick='window.location.href=\""+url+"\"' style = 'background-color: tomato; border : 0; border-radius: 12px; padding : 16px; font-weight: 700; cursor: pointer; font-size: 18pt;'>"+
            "Learn more about this major->"+
          "</button>"+
        "</div>" ;
        return tempstring;
      }
      window.onload = onLoad;
    </script>
    <style>
        input[type="file"] {
            display: none;
        }
        .custom-file-upload {
            border: 1px solid #ccc;
            display: inline-block;
            padding: 10px 16px;
            cursor: pointer;
        }
    </style>
  <body>
    <nav role="navigation">
      <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
          <a href="/mobile/home"><li>Home</li></a><br>
          <a href="/mobile/knowcollege"><li>CollegePicker</li></a><br>
          <a href="/mobile/knowdegree"><li>DegreePicker</li></a><br>
          <a href="/mobile/knowdevice"><li>Device Picker</li></a><br>
          <a href="/mobile/resources"><li> Resources</li></a><br>
          <a href="/mobile/gpaCalculator"><li> GPACalculator</li></a><br>
          <a href="/mobile/about"><li>About CollegePlus™</li></a><br>
          <a href="/mobile/logout"><li>Log out</li></a><br>
        </ul>
      </div>
      <div id="logo" style="text-align: center; justify-content: center;">
        <h1 style="width:45%; margin: auto; cursor: pointer; height: 100%; padding-top: 2%;  margin-top: .8vh;" id="college">College<m id="plus"> + </m></h1>
      </div>
      <div id="poop">
        <form action="/mobile/login_page" method="get">
          <p style="margin-top: -10px; font-size: 3vw; height: 100%;"> <button type="submit" name="button" style="vertical-align: middle; height: 60px; color: {{iconcolor}}; max-width: 70px;"><i style="font-size: 40pt;" class="material-icons">account_circle</i></button></p>
        </form>
      </div> 
    </nav>
    <div style = "display: none;">
      <p id = "majors">{{majors}}</p>
      <p id = "majorDescriptions">{{majorDescriptions}}</p>
      <p id = "majorLinks">{{majorLinks}}</p>
    </div>
    <div id = "recs">
      
    </div> 
    <div style = "min-height: 100vh; margin-top: 10%; text-align: center;">
        
        <div>
            <h4 style = "font-size: 32pt; color: black; padding-top: 5%;">
                Compress and resize image
            </h4>
        </div>
        <form method="post" id = "mainForm" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- <input type='text' style='display:none;' value='%s' name='csrfmiddlewaretoken'/> -->
            <label for="mainImage" class="custom-file-upload" style = "color : black; font-size: 24pt; font-weight: 700;">
                <span class="material-icons" style = "color : black; margin-top : 1%; font-size: 28pt;">
                    cloud_download
                    </span> Custom Upload
            </label>
            <input type="file" name="image" size="75" id = "mainImage" onchange="loadImageFile();" accept="image/*"><br><br>
            <button type="submit" id = "submit" style=" background-color:#0099cc;width: 20%; border-radius:10px; border : 0;padding: 10px; font-size: 24pt; font-weight: 900;">Upload Image</button>
        </form>
        <div style="display: flex; flex-direction: row; text-align: center; margin-top: 10%;">
            <div>
            <img style = "display:none" id="original-Img"/>
            </div>
            <div style = "margin-right: auto; margin-left: auto;">
            <img id="upload-Preview"/>
            <p id= "prompt" style = "color: black; font-size: 32pt;">
            </p>
            </div>
        </div>
        <div>
            <p style = "color: red; font-size: 32pt;">
            {{error}}
            </p>
        </div>
        </div>
      <script data-ad-client="ca-pub-2209994521755973" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Display Ads -->

      <footer >
        <div>
          <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-2209994521755973"
          data-ad-slot="3051770603"
          data-ad-format="auto"
          data-full-width-responsive="true"></ins>
          <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
        <div style="display: flex; flex-direction: row; padding-bottom: 3%; padding-top: 3%;">
          <div style="width: 40%; text-align: right;">
            <img src= "{% static '/pictures/collegeplus2.png'%}" style="width: 50px; height: 50px; margin-top: 10px; margin-right: 10%;"></img>
          </div>
          <div style="width: 60%; text-align: left;">
            <p style="margin-top: 4.3%;">CollegePlus™ by Slo-Meg Technologies</p>
          </div>
        </div>
        
  
        <!-- <p>Contact information: </p>
        <p>CollegePlus™ Instagram: <a href="https://instagram.com/collegeplusstudents" style="color:#ff6347"> @collegeplusstudents </a></p> 
         <p> Logan Sage's Instagram:<a href="https://instagram.com/logan.sage?igshid=9y9y1s2c6abq" style="color:#ff6347"> @logan.sage   </a><p>  </p><a href="https://instagram.com/logan.sage?igshid=9y9y1s2c6abq"><img src="{% static '/picture/Logan.jpg" style="width: 30px; height:30px;border-radius: 50%;"></img></a></p>
        <p> Lauren-Megan Botha's Instagram: <a href="https://instagram.com/lolygagging_lemur?igshid=uvlgdn5hwelx" style="color:#ff6347"> @laurenmegan.b   </a><p>  </p><a href="https://instagram.com/lolygagging_lemur?igshid=uvlgdn5hwelx"><img src="{% static '/picture/Lauren.jpg" style="width: 30px; height:30px;border-radius: 50%"></img></a></p>
        <p> Seun Suberu's Instagram: <a href="https://www.instagram.com/sensei.seun/" style="color:#ff6347"> @sensei.seun   </a><p>  </p><a href="https://www.instagram.com/sensei.seun/"><img src="{% static '/picture/Seun.jpg" style="width: 30px; height:30px;border-radius: 50%; "></img></a></p> -->
      </footer>
  </body>
</html>