{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/pictures/collegeplus2.png'%}"/>
    <link rel="shortcut icon" href="{% static '/pictures/collegeplus2.png'%}" />
    <link rel="address bar icon" href="{% static '/pictures/collegeplus2.png'%}"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/pictures/collegeplus2.png'%}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/pictures/collegeplus2.png'%}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/pictures/collegeplus2.png'%}"/>
    <link rel="manifest" href="/site.webmanifest">
   <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js">
   </script>
   <script src="scripts/placebo.js">
   </script>
    <script data-ad-client="ca-pub-2209994521755973" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-2209994521755973",
          enable_page_level_ads: true
     });
     </script>
     <script async custom-element="amp-auto-ads"
        src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
      </script>
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static '/pictures/collegeplus2.png'%}">
    <link rel="icon" href="{% static '/pictures/collegeplus2.png'%}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Outline&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href = "{% static '/styles/mresources.css'%}">
    </link>
    <script>
      function onLoad(){
        $("#college").click(function(){
            document.location.href = "/mobile/home";
          });
          $("#logo").click(function(){
            document.location.href = "/mobile/home";
          });
      }
      window.onload = onLoad;
    </script>
    <meta charset="utf-8">
    <title>Resources</title>
  </head>
  <body>
    <nav role="navigation">
      <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
          <a href="/mobile/home"><li>Home</li></a><br>
          <a href="/mobile/knowcollege"><li>CollegePicker</li></a><br>
          <a href="/mobile/knowdegree"><li>DegreePicker</li></a><br>
          <a href="/mobile/knowdevice"><li>Device Picker</li></a><br>
          <a href="/mobile/resources"><li> Resources</li></a><br>
          <a href="/mobile/gpaCalculator"><li> GPACalculator</li></a><br>
          <a href="/mobile/about"><li>About CollegePlus™</li></a><br>
          <a href="/mobile/logout"><li>Log out</li></a><br>
        </ul>
      </div>
      <div id="logo" style="text-align: center; justify-content: center;">
        
        <h1 style="width:45%; margin: auto; cursor: pointer; height: 100%; padding-top: 2%; margin-top: .8vh;" id="college">College<m id="plus"> + </m></h1>
      
      </div>

      <div id="poop">
        <form action="/mobile/login_page" method="get">
          <p style="margin-top: -10px; font-size: 3vw; height: 100%;"> <button type="submit" name="button" style="vertical-align: middle; height: 60px; color: {{iconcolor}}; max-width: 70px;"><i style="font-size: 40pt;" class="material-icons">account_circle</i></button></p>
        </form>
      </div> 
      <div class= "articles" style="width: 100%; margin-top: 10%;">
        <div style="width: 60%; text-align: center; margin: 0 auto;">
          <h2 style = "font-size: 48px; line-height: 56px;"> We want you to be succesful ! </h2>
          <p> Working hard in school can pay off in the long run! This why we want you to have all the resources possible to help you be successful! This page is split up by categories like SAT advice, scholarships, studying hacks, resume help, and other important dates. If you are a senior you'll want to scroll down to the important dates section to learn more about when dates are due. </p>
          <iframe src="https://giphy.com/embed/L0O3TQpp0WnSXmxV8p" width="480" height="400" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/Friends-season-5-friends-tv-the-one-with-yeti-L0O3TQpp0WnSXmxV8p">via GIPHY</a></p>
        </div>
      </div>
      <ins class="adsbygoogle"
        style="display:block; text-align:center;"
        data-ad-layout="in-article"
        data-ad-format="fluid"
        data-ad-client="ca-pub-2209994521755973"
        data-ad-slot="9243687244">
      </ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      <amp-auto-ads type="adsense"
        data-ad-client="ca-pub-2209994521755973">
      </amp-auto-ads>
      <div class= "articles">
        <h2 style = "font-size: 48px; line-height: 56px;"> Important Dates</h2>
        <div style="width: 100%; text-align: center; margin: 0 auto;">
          <div style="width: 60%; margin: auto;">
            <p> Below is a calendar with important dates such as regular decision and early action decision deadlines, notifications of the FAFSA opening, and SAT dates and registration details. To stay on top of your deadlines, make sure to copy the essential and relevant events to your own calendar(which you can do by clicking the event).</p>
          </div>
          <div style="text-align: center; margin: 0 auto;">
              <iframe src="https://calendar.google.com/calendar/embed?src=0r1rh8slmj08gsfqb3q52onscg%40group.calendar.google.com&ctz=America%2FLos_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
          </div>
        </div>
      </div>
      <ins class="adsbygoogle"
        style="display:block; text-align:center;"
        data-ad-layout="in-article"
        data-ad-format="fluid"
        data-ad-client="ca-pub-2209994521755973"
        data-ad-slot="9243687244">
      </ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      <amp-auto-ads type="adsense"
        data-ad-client="ca-pub-2209994521755973">
      </amp-auto-ads>
      <div class= "articles">
        <h2 style = "font-size: 48px; line-height: 56px;"> SAT Tips and Tricks </h2>
        <h3> Why are they important? </h3>
        <div style="width: 60%; text-align: center; margin: 0 auto;">
          <p>Many colleges require you to submit either your SAT or ACT score, making it a requirement to apply. This makes taking the SAT a must. Many schools use SAT scores to narrow decisions on who is and not accepted. Because many high schools across the US vary in difficulty and class options, the SAT is really the only way to measure aptitude for students across the nation. A good SAT score will set you apart from other students who are applying for the same scholarships as you.
            Depending on what school you're applying to your SAT score may be less or more important. Big schools will likely place more of an emphasis and may even have cut off scores. Smaller colleges, like liberal arts schools, will have more of a holistic review. Holistic review is when a college looks at all parts of your application as if they have equal value rather than placing a higher emphasis on one piece (like the SAT). Now that you understand why working hard to achieve a good score is essential, let's move on to what steps to take.</p>
        </div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/tn6etIzUeU4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <ins class="adsbygoogle"
        style="display:block; text-align:center;"
        data-ad-layout="in-article"
        data-ad-format="fluid"
        data-ad-client="ca-pub-2209994521755973"
        data-ad-slot="9243687244">
      </ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      <amp-auto-ads type="adsense"
        data-ad-client="ca-pub-2209994521755973">
      </amp-auto-ads>
      <div class= "articles">
        <h2 style = "font-size: 48px; line-height: 56px;"> How to improve my score? </h2>
        <div style="width: 60%; text-align: center; margin: 0 auto;">
          <ul>
            <li>Make a Khan Academy account <a href="https://www.khanacademy.org/sat"> here.</a> Khan is a free online resource that, just like CollegePlus, is looking to support you in any way possible. That will make studying a whole lot easier. Khan will make you a study calendar, provide you with free SAT video lessons, and most importantly, practice tests! 20 hours of practice on Khan Academy is associated with an average 115-point score increase from the PSAT/NMSQT to the SAT. So please, for goodness sake, take advantage of this great free resource!</li>
            <li>Practice, practice, practice. Take as many practice tests as you can. Make sure you simulate ALL conditions of the test. Don't just wake up whenever and take the practice test in your pajamas. Wake up, put real clothes on, and take the practice SAT as if you would like the real thing. This is the best way to actually gauge what you do well and not so well. After you're done practicing, go through the questions you got wrong and try them again. If you solve it correctly, write down in a binder what mistake you made and how you can improve the way you approach the problem next time. If you don't solve it correctly that is totally okay! Look at the problem solution and work the problem out alongside the explanation. Keep track of all your practice questions, it is a good idea to review them occasionally.</li>
            <li>Stay positive! Conquering the test is really just a matter of practice and positivity. You can do what you set your mind to! </li>
          </ul>
        </div>
        <iframe src="https://giphy.com/embed/PgnGYxwubWEYU" width="480" height="195" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/you-got-this-PgnGYxwubWEYU">via GIPHY</a></p>
        <form action="https://blog.prepscholar.com/how-to-improve-low-sat-math-scores-and-get-to-a-600"> <button type="submit">Improve your Math Score</button> </form>
        <form action="https://blog.prepscholar.com/how-to-improve-your-low-sat-reading-score-6-strategies"> <button type="submit">Improve your Reading Score</button> </form>
        <form action="https://www.youtube.com/watch?v=Slb9TDIzVm4"> <button type="submit">Crush the Essay</button> </form>
      </div>
      <ins class="adsbygoogle"
        style="display:block; text-align:center;"
        data-ad-layout="in-article"
        data-ad-format="fluid"
        data-ad-client="ca-pub-2209994521755973"
        data-ad-slot="9243687244">
      </ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      <amp-auto-ads type="adsense"
        data-ad-client="ca-pub-2209994521755973">
      </amp-auto-ads>
      <div class= "articles">
        <h2 style = "font-size: 48px; line-height: 56px;"> Do I have to use my SAT scores ?</h2>
        <div style="width: 60%; text-align: center; margin: 0 auto;">
          <p> No you absolutely do not! Many of the wonderful schools I applied to did not even require the SAT. Though there are not quite as many as SAT-requiring schools, you should most definitely apply if you don't feel too confident about your scores. Schools know that you are more than a number! Learn more about options for going test optional below. </p>
          <form action="https://blog.prepscholar.com/the-complete-guide-to-sat-optional-colleges"> <button type="submit">Click here for a guide to Test Optional and Test Flexible schools</button> </form>
          <form action="https://www.niche.com/colleges/search/best-test-optional-colleges/"> <button type="submit">Click here to see the best test optional schools</button> </form>
        </div>
      </div>
      <ins class="adsbygoogle"
        style="display:block; text-align:center;"
        data-ad-layout="in-article"
        data-ad-format="fluid"
        data-ad-client="ca-pub-2209994521755973"
        data-ad-slot="9243687244">
      </ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      <amp-auto-ads type="adsense"
        data-ad-client="ca-pub-2209994521755973">
      </amp-auto-ads>
      <div class= "articles">
        <h2 style = "font-size: 48px; line-height: 56px;"> Scholarships </h2>
        <div style="width: 60%; text-align: center; margin: 0 auto;">
          <p> How much you pay for college can make a significant impact on what colleges you apply to and ultimately what you choose. Here at College Plus, we recommend that you always apply no matter what you think the net price maybe because you never know what financial opportunities you will have to support you. Below are some tips for finding and applying for scholarships. </p>
          <ul>
            <li>Look for local scholarships at your school, banks, credit unions, insurance companies, law firms. Often times, there are plenty of memorial scholarships offered in local communities. All you have to do is look.</li>
            <li>Find your niche, once you know what it is you want to study look for scholarships that are specific to you. An example is a scholarship for women wishing to study tech.</li>
            <li>When you are looking at colleges, make sure you understand the difference between need-based aid and merit-based aid. If your family is in a lower-income bracket your best bet is to apply to schools that offer only need-based aid.  Need-based aid schools will most likely provide you with the most financial support.  </li>
            <li>When applying for scholarships, it might be helpful to keep a Google Drive folder of all the essays you have written. Frequently you can reuse your essays, saving you hours of rewriting the same essay. However, do not copy and paste, make sure to tailor the essay to the prompt.</li>
            <li>Apply for the FAFSA early! This does not count as a scholarship, but it is free money from the government so you should really take advantage of the opportunity.</li>
          </ul>
          <form action="https://pages.collegeboard.org/scholarship-opportunities-from-collegeboard"> <button type="submit">Start looking for scholarship</button> </form>
        </div>
        <iframe src="https://giphy.com/embed/JpG2A9P3dPHXaTYrwu" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/money-make-it-rain-JpG2A9P3dPHXaTYrwu">via GIPHY</a></p>
      </div>
      <ins class="adsbygoogle"
        style="display:block; text-align:center;"
        data-ad-layout="in-article"
        data-ad-format="fluid"
        data-ad-client="ca-pub-2209994521755973"
        data-ad-slot="9243687244">
      </ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      <amp-auto-ads type="adsense"
        data-ad-client="ca-pub-2209994521755973">
      </amp-auto-ads>
      <div class= "articles" style="">
        <h2 style = "font-size: 48px; line-height: 56px;"> Studying Hacks</h2>
        <div style="width: 60%; text-align: center; margin: 0 auto;">
          <p>Staying on top of your grades is essential, and studying is the best way to do that! Studying is really a matter of figuring out what works and doesn't work for you. If you don't already, get a planner and keep track of all the important dates for your classes like tests and other weighted assignments. Check your grades often and early! You really don't want to reach the end of a term and be surprised by your grades. To make sure I would always get the grades I wished I would use the  <a href = "https://www.benegg.net/grade_calculator.html" style = "color : tomato;"> Ben Eggleston Calculator</a>. That way I could anticipate how much studying I would need to do to get the grade I wanted.</p>
        </div>
        <div style="width: 60%; text-align: center; margin: 0 auto;">
          <ul>
            <li> A first good tip for a successful studying session is to remove all distractions, especially your phone. Put it in another room and forget about it. If you have it nearby you, you will be tempted to check it which will break your focus flow.</li>
            <li>Make sure you eat enough before and sleep enough before you study, nobody wants to do Algebra hangry. This has something to do with a theory called <a href = "https://www.simplypsychology.org/maslow.html"> Maslow's Hierarchy of Needs. </a> </li>
            <li> Take notes during class and review them after. I am a kinesthetic learner, so I learn by doing things with my hand like rewriting notes I took earlier. Many people will be tempted to retype their notes for aesthetic purposes, but I personally feel like rewriting my notes by hand helps me remember them. Especially for history. Click <a href="https://www.how-to-study.com/learning-style-assessment/">here </a> to learn about your learning style and tips to help your learning style specifically. </li>
            <li> Just like your grades, you need to keep up with studying. Cramming the day before a big test is a big no-no. Not only will you reduce the amount of sleep you get, but you also are most likely not going to remember all the material if you ONLY study the night before. You should study the night before, but the best way to retain information is to three times a week review the content you have learned and go to tutoring if you do not understand a problem. That brings me to my next point. </li>
            <li> Please ask for help. Nobody is beyond help. Not even that friend of yours whose the Valedictorian and probably going to Harvard. We have all been there, and the sooner you ask for help, the more time you have to review content. Teachers are paid to help you learn and if they to do not do an excellent job of teaching during class, or you need more support let them know. Teachers love to know that their students are concerned about their own success and will go out of their way to support you any way they can! Don't be discouraged if your teacher is sassy though. If they do not want to help just ask another teacher who teaches the same subject. </li>
            <li> Use technical resources! I love quizlet for subjects like History or Biology.<a href="https://quizlet.com/"> Quizlet </a>is an online platform and app you can download on your phone that will allow you to create and share flashcards. It will also allow you to test yourself using the flashcards you create, which I highly recommend.</li>
            <li> Location and people also are essential. If you feel like you can focus best by yourself, then don't be afraid to tell your friends you're busy. However, if you learn best in groups, create a study group full of focused peers in your class who will actually study with you, and not distract you. Don't study somewhere distracting, libraries or coffee shops are great places or anywhere else you that is quiet. I also recommend you don't study on your bed, you wanna keep that space for relaxing and resting.</li>
            <li> At the end of the day, work hard, and it will pay off. A friend once told me, "Sleep more than you study, study more than you party, and party as much as you can." (When we say party we mean genuine time spent with friends, by the way, nothing illegal). Working hard is important, but you should have a proper school-life balance. </li>
          </ul>
          <p>Below we have put some of our favorite Spotify playlists to get you started along with a youtube playlist with some other helpful hacks. </p>
          <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX9sIqqvKsjG8" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX8NTLI2TtZa6" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DWYRcvdDwEl3O" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX4sWSpwq3LiO" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLCbVnL9xzCZg9TPnwY171oObCS_uql-0_" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <iframe src="https://giphy.com/embed/fhAwk4DnqNgw8" width="480" height="259" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/life-school-college-fhAwk4DnqNgw8">via GIPHY</a></p>
        </div>
      </div>
      <ins class="adsbygoogle"
        style="display:block; text-align:center;"
        data-ad-layout="in-article"
        data-ad-format="fluid"
        data-ad-client="ca-pub-2209994521755973"
        data-ad-slot="9243687244">
      </ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      <amp-auto-ads type="adsense"
        data-ad-client="ca-pub-2209994521755973">
      </amp-auto-ads>
      <div class= "articles">
        <h2 style = "font-size: 48px; line-height: 56px;"> Resume Help</h2>
        <br></br>
        <button type="button" name="button" onclick="window.location.href = 'https://www.resumehelp.com/resume/how-it-works';" style="background-color: tomato; color: white;">Click here to build a resume</button>
      </div>
      <script data-ad-client="ca-pub-2209994521755973" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle"
        style="display:block; text-align:center;"
        data-ad-layout="in-article"
        data-ad-format="fluid"
        data-ad-client="ca-pub-2209994521755973"
        data-ad-slot="9243687244">
      </ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      <amp-auto-ads type="adsense"
        data-ad-client="ca-pub-2209994521755973">
      </amp-auto-ads>
    <footer >
      <div style="display: flex; flex-direction: row; padding-bottom: 3%; padding-top: 3%;">
        <div style="width: 40%; text-align: right;">
          <img src= "{% static '/pictures/collegeplus2.png'%}" style="width: 50px; height: 50px; margin-top: 10px; margin-right: 10%;"></img>
        </div>
        <div style="width: 60%; text-align: left;">
          <p style="margin-top: 4.3%;">CollegePlus™ by Slo-Meg Technologies</p>
        </div>
      </div>
      

      <!-- <p>Contact information: </p>
      <p>CollegePlus™ Instagram: <a href="https://instagram.com/collegeplusstudents" style="color:#ff6347"> @collegeplusstudents </a></p> 
       <p> Logan Sage's Instagram:<a href="https://instagram.com/logan.sage?igshid=9y9y1s2c6abq" style="color:#ff6347"> @logan.sage   </a><p>  </p><a href="https://instagram.com/logan.sage?igshid=9y9y1s2c6abq"><img src="{% static '/picture/Logan.jpg" style="width: 30px; height:30px;border-radius: 50%;"></img></a></p>
      <p> Lauren-Megan Botha's Instagram: <a href="https://instagram.com/lolygagging_lemur?igshid=uvlgdn5hwelx" style="color:#ff6347"> @laurenmegan.b   </a><p>  </p><a href="https://instagram.com/lolygagging_lemur?igshid=uvlgdn5hwelx"><img src="{% static '/picture/Lauren.jpg" style="width: 30px; height:30px;border-radius: 50%"></img></a></p>
      <p> Seun Suberu's Instagram: <a href="https://www.instagram.com/sensei.seun/" style="color:#ff6347"> @sensei.seun   </a><p>  </p><a href="https://www.instagram.com/sensei.seun/"><img src="{% static '/picture/Seun.jpg" style="width: 30px; height:30px;border-radius: 50%; "></img></a></p> -->
    </footer>
  </body>
</html>
