{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="apple-touch-icon" sizes="180x180" href="{% static '/pictures/collegeplus2.png'%}"/>
        <link rel="shortcut icon" href="{% static '/pictures/collegeplus2.png'%}" />
        <link rel="address bar icon" href="{% static '/pictures/collegeplus2.png'%}"/>
        <link rel="shortcut icon" type="image/x-icon" href="{% static '/pictures/collegeplus2.png'%}" />
        <link rel="icon" type="image/png" sizes="32x32" href="{% static '/pictures/collegeplus2.png'%}"/>
        <link rel="icon" type="image/png" sizes="16x16" href="{% static '/pictures/collegeplus2.png'%}"/>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">   
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"> </script>
        <script>
            // var isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
            // if (isMobile) {
            // document.location.href ="/mobile/";
            // }
            let isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
            if(!isMobile){
                    document.location.href = '/home';
            }

            onLoad = () => {
  
                $("#android").click(()=>{window.open("https://play.google.com/store/apps/details?id=com.CollegePlusAppAlpha", "_blank");});
                $("#iOS").click(()=>{window.open("https://apps.apple.com/us/app/collegeplus/id1523141497", "_blank");});

            }
            window.onload = onLoad;
        </script>
    </head>
    <body style = "background-color: #343434; overflow-x: hidden; text-rendering: optimizeLegibility;    ">
        <div style = "align-items: center; justify-content: center; height : 100vh; width : 100vw; text-align: center; padding-bottom: 10vh;">
            <div style = "display: flex; flex-direction: row;margin-top: 20vh; align-items: center; justify-content: center; margin-left: auto; margin-right: auto; vertical-align: middle;">
                <div style = "display: flex; flex-direction: column; flex: 2; align-items: flex-end; justify-content: center; margin-left: auto; margin-right: auto; vertical-align: middle; text-align: right;">
                    <img src= "{% static '/pictures/collegeplus2.png'%}" style = "width: 12vw; margin-right: 0;"/>
                </div>
                <div style = "display: flex; flex-direction: column; align-items: flex-start; flex : 3; justify-content: center; margin-left: auto; margin-right: auto; vertical-align: middle;">
                    <h1 style= "font-family: 'Montserrat', sans-serif; font-size: 48pt; color : white; font-weight: 200; padding-left: 3vw;">College<m style ="color : tomato">Plus</m></h1>
                </div>
            </div>
            <img id = "iOS" src= "{% static '/pictures/DownloadIOS.svg' %}" style = "margin-top: 10vh; margin-bottom: 5vh; height: 11vw"/><br>
            <img id = "android" src= "{% static '/pictures/DownloadGooglePlay.png'%}" style = "height: 11vw; margin-bottom: 5vh;"/> <br>
            <a href  = "/home" style = "color : #0099cc; font-family: 'Quicksand', sans-serif; text-decoration: none; font-size: 34pt;">Continue to CollegePlus.us</a>
            <!-- <img src = "{% static '/pictures/collegeplusphoto.png'%}" style = " width: 10vw; border-radius: 5px;"/> -->
        </div>
    </body>
</html>