body{
  background-color: #FF0000;
  margin: 0;
  padding: 0;

  /* make it look decent enough */
  background: white;
  color: #cdcdcd;
  font-family: 'Montserrat', sans-serif;
  -webkit-appearance: none;
}

footer {
  background-color: #232323;
  margin-bottom: -20px;
  text-align: center;
  padding-bottom: 20px;
}


#plus{
  color:tomato;
  font-size: 85px;
}
#college{
  color:lightgrey;
  /* font-size: 85px; */
  border-color: 2px solid black;
  margin: -5px;
  /* font-family: "Segoe UI",Arial,sans-serif;  */
  font-weight: 700;
  
}
#knowcollege{
  margin-top: 20vh;
  justify-content: center;
  text-align: center;
  padding-bottom : 20vh;

}
#btns{

}
#yesbtn{
  margin-top: 50px;
  border-radius: 25px;
  background-color: tomato;
  color: white;
  padding: 18px;
  padding-left: 55px;
  padding-right: 55px;
  font-size: 16px;
  cursor: pointer;
  /* border: 5px outset tomato; */
  opacity: 1;
  border: none;
  font-family: 'Poppins', sans-serif;

}
#nobtn{
  margin-top: 50px;
  border-radius: 25px;
  background-color: #343434;
  color: white;
  padding: 18px;
  padding-left: 55px;
  padding-right: 55px;
  font-size: 16px;
  cursor: pointer;
  /* border: 5px outset tomato; */
  opacity: 1;
  border: none;
  font-family: 'Poppins', sans-serif;

}
#yesbtn:hover{
  background-color: #dd4125;
}
#nobtn:hover{
  background-color: #232323;
}
#question{
  color:black;
  justify-content: center;
  text-align: center;
  font-size: 36pt;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}
