body
{
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 100vh;

  /* make it look decent enough */
  background: white;
  color: #cdcdcd;
  font-family: 'Poppins', sans-serif;
  -webkit-appearance: none;
  text-rendering: optimizeLegibility;

}

footer {
    display: block;
  background-color: #232323;
  margin-bottom: -20px;
  text-align: center;
  padding-bottom: 20px;
  /* bottom:0; */
}

a
{
  text-decoration: none;
  color: #000000;

  transition: color 0.3s ease;
}

#menuToggle li:hover
{
  color: tomato;

}

#menuToggle
{
  display: block;
  position: fixed;
  top: 50px;
  left: 50px;

  z-index: 2;

  -webkit-user-select: none;
  user-select: none;
}

#poop
{
  display: block;
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 1;

}

#poop button {
    background-color: Transparent;
    background: #cdcdcd;
    border-radius: 50px;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 27px;



}
#poop i{
  text-align: center;
  align-items: center;
}

#menuToggle input
{
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 3; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 75px;
  height: 8px;
  margin-bottom: 10px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 2;

  transform-origin: 8px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -5px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, 5px);

}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: fixed;
  width: 75%;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

  height: 100%;
}

#menu li
{
  padding: 30px 0 0 0 ;
  font-size: 50px;
  color:black;
  transition: color 0.3s ease;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
#logo{
  text-transform: uppercase;
  position:fixed;
  background-color: #232323;
  text-align: center;
  /* font-size: 85px */
  justify-content:center;
  width:100%;
  padding-top: 0px;
  margin-top: 0px;
  position: 0;
  padding-bottom: 10px;
  top:0;
  height: 130px;
  z-index: 1;
  border-color: 2px solid black;
}
#plus{
  color:tomato;
  font-size: 7vw;
}
#college{
  color:lightgrey;
  font-size: 7vw;
  border-color: 2px solid black;
  margin-top: 15px;
  font-family: "Segoe UI",Arial,sans-serif; 
  font-weight: 400;
}
#recs{
  margin-top: 150px;
  margin-bottom: 10%;
  justify-content: center;
  text-align: center;
  font-size: 80px;
}
/* #bttmbtns{
  height: 100px;
  width: 200px;
  margin-top: 50px;
  border-radius: 5px;
  background:linear-gradient(to bottom, rgba(255,99,71,1), rgba(240,137,140,1));
  color:black;
  font-size: 20px;
  border: 5px outset tomato;
  opacity:0.8;
  justify-content: center;
  text-align: center; */
/* } */
/* #bttmbtns:hover{
  opacity:1;
} */

#recsnext{
  width: 70%;

  background-color: tomato;
  color: white;
  padding: 16px;
  font-size: 20pt;
  cursor: pointer;
  height: 50px;
  /* border: 5px outset tomato; */
  opacity: 1;
  border: none;
  -webkit-appearance: none;
}
#recsnext:hover{
  background-color: #dd4125;
  -webkit-appearance: none;
}
#gotodegrec{
  height: 100px;
  width: 70%;
  margin-top: 0px;
  border-radius: 5px;
  background-color: tomato;
  color: white;
  padding: 16px;
  font-size: 20pt;
  cursor: pointer;
  height: 50px;
  /* border: 5px outset tomato; */
  opacity: 1;
  border: none;
  -webkit-appearance: none;
}
#recsnext:hover{
  background:linear-gradient(to bottom, rgba(255,99,71,1), #dd4125);
  background-color: #dd4125;
  -webkit-appearance: none;
}
#gotodegrec:hover{
  background:linear-gradient(to bottom, rgba(255,99,71,1), #dd4125);
  background-color: #dd4125;
  -webkit-appearance: none;
}
#majors{
  font-size:24pt;
  color: #ff6347;
}
#buttonforengineers{
  background-color: tomato;
  color: white;
  padding: 16px;
  font-size: 16pt;
  cursor: pointer;
  height: 50px;
  /* border: 5px outset tomato; */
  opacity: 1;
  border: none;
}