#questionsform{
    text-align: center;
    justify-content: center;
    color: black;
    background-color: white;
    padding-bottom: 250px;
    padding-top: 3vh;
  }

  .cfq{
    text-align: center;
    color:black;
    font-size: 2.4vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }
  .cfi{
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 2.2vw;
  }

  .dropdown{
    text-align: center;
    justify-content: center;
  
  }

  #submitbutton{
    text-align: center;
  
  }
  #dropbtnsub{
  
    margin-top: 5%;
    border-radius: 25px;
    background-color: #343434;
    color: white;
    padding: 2vw;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 12pt;
    cursor: pointer;
    /* border: 5px outset tomato; */
    opacity: 1;
    border: none;
    -webkit-appearance: none;
    font-family: 'Poppins', sans-serif;
  
  }
  #dropbtnsub:hover{
    background-color: #232323;
    -webkit-appearance: none;
  }
  
  #dropbtnnxt{
    display: none;
    border-radius: 5px;
    background-color: #343434;
    color: white;
    padding: 25px;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 12pt;
    cursor: pointer;
    /* border: 5px outset tomato; */
    opacity: 1;
    border: none;
    -webkit-appearance: none;
  }
  #dropbtnnxt:hover{
    background-color: #232323;
    -webkit-appearance: none;
  }

  #recsnext{
    display: none;
    background-color: #343434;
    color: white;
    padding: 20px;
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    /* border: 5px outset tomato; */
    opacity: 1;
    border: none;
    -webkit-appearance: none;
  }
  #recsnext:hover{
    background-color: #232323;
    -webkit-appearance: none;
  }

  #submit{
    background-color: #343434;
    color: white;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    cursor: pointer;
    /* border: 5px outset tomato; */
    opacity: 1;
    border: none;
    margin-top: 40px; 
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
  }

  #submitengineering{
    background-color: #343434;
    color: white;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    cursor: pointer;
    /* border: 5px outset tomato; */
    opacity: 1;
    border: none;
    margin-top: 40px; 
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
  }

  #submit:hover{
    background-color: #232323;
  }

  .drop{
    background-color: tomato;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 10%;
    border: 5px outset tomato;
    text-align: center;
    /* max-width: 100%; */
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 30%;
    -webkit-appearance: none;
    border-radius: 25px;
    font-family: 'Quicksand', sans serif;

  }
  select{
    text-align: center;
    max-width: 50%;
    word-wrap: break-word;
    overflow: hidden;
    display: inline-block;
    padding: 16px;
    border-radius: 25px;
  }

  
.form__label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(0rem);
  }
  
  .form__input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
    margin: 0 auto;
    margin-top: 5%;
    padding: 1.5rem 2rem;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    border: 3px solid tomato;
    width: 25%;
    display: block;
    /* border-bottom: 0.3rem solid transparent; */
    transition: all 0.3s;
  }
  
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
  }
  #myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    width: 54%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  #myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: white; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
  }
  
  #myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
  }

  .questionDiv{
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }

  .title{
      color: black;
      padding-bottom: 1vh;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
  }