body
{
  background-color: white;
  margin: 0;
  padding: 0;

  /* make it look decent enough */
  background: white;
  color: #cdcdcd;
  font-family: 'Montserrat', sans-serif;
  -webkit-appearance: none;
}

footer {
  background-color: #232323;
  margin-bottom: -20px;
  text-align: center;
  padding-bottom: 20px;
}


#plus{
  color:tomato;
  font-size: 85px;
}
#college{
  color:lightgrey;
  font-size: 85px;
  border-color: 2px solid black;
  margin-top: -5px;
  font-family: "Segoe UI",Arial,sans-serif; 
  font-weight: 400;
}
#recs{
  justify-content: center;
  text-align: center;
  font-size: 5vw;
  margin-bottom: 5%;
  color: #cdcdcd
}

.results{
  color: #cdcdcd;
}

.header{
  color: #cdcdcd;
  font-size: 6vw;
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

/* #bttmbtns{
  height: 100px;
  width: 200px;
  margin-top: 50px;
  border-radius: 5px;
  background:linear-gradient(to bottom, rgba(255,99,71,1), rgba(240,137,140,1));
  color:black;
  font-size: 20px;
  border: 5px outset tomato;
  opacity:0.8;
  justify-content: center;
  text-align: center; */
/* } */
/* #bttmbtns:hover{
  opacity:1;
} */

#recsnext{
  background-color: tomato;
  padding: 24px;
  cursor: pointer;
  /* border: 5px outset tomato; */
  opacity: 1;
  border: none;
  -webkit-appearance: none;
}
#recsnext:hover{
  background-color: #dd4125;
  -webkit-appearance: none;
}
.recbuttons{
  padding: 24px;
  font-size: 12pt;
  margin-top: 0px;
  border-radius: 25px;
  background-color: tomato;
  color: black;
  cursor: pointer;
  /* border: 5px outset tomato; */
  opacity: 1;
  border: none;
  -webkit-appearance: none;
}
#recsnext:hover{
  background-color: #dd4125;
  -webkit-appearance: none;
}
#gotodegrec:hover{
  background-color: #dd4125;
  -webkit-appearance: none;
}

#recsnext2:hover{
  background-color: #232323;
  -webkit-appearance: none;
}
#gotodegrec2:hover{
  background-color: #232323;
  -webkit-appearance: none;
}
#majors{
  font-size:24pt;
  color: #ff6347;
}

#buttonforengineers{
  background-color: tomato;
  color: white;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
  height: 50px;
  /* border: 5px outset tomato; */
  opacity: 1;
  border: none;
}
#buttonforengineers:hover{
  background:linear-gradient(to bottom, rgba(255,99,71,1), #dd4125);
  background-color: #dd4125;
}

.urlButton{
  background-color: tomato; 
  border : 0; 
  border-radius: 12px; 
  padding : 16px; 
  font-weight: 700; 
  cursor: pointer;
  font-size : 12pt;
}