{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- <link rel="icon" href="{% static '/pictures/collegeplus2.png'%}" type="image/x-icon"> -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/pictures/collegeplus2.png'%}"/>
    <link rel="shortcut icon" href="{% static '/pictures/collegeplus2.png'%}" />
    <link rel="address bar icon" href="{% static '/pictures/collegeplus2.png'%}"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/pictures/collegeplus2.png'%}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/pictures/collegeplus2.png'%}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/pictures/collegeplus2.png'%}"/>
    <link rel="manifest" href="/site.webmanifest">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Outline&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href = "{% static '/styles/mcollege_rec.css'%}">
    </link>
    <script data-ad-client="ca-pub-2209994521755973" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-2209994521755973",
              enable_page_level_ads: true
        });
    </script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="{% static '/scripts/scripts2.js'%}">
    </script>
        <script src="/node_modules/chart.js/dist/Chart.js"></script>

    <meta charset="utf-8">
    <title>College Recommendations</title>
  </head>
  <body>
    <nav role="navigation">
      <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
          <a href="/mobile/home"><li>Home</li></a><br>
          <a href="/mobile/knowcollege"><li>CollegePicker</li></a><br>
          <a href="/mobile/knowdegree"><li>DegreePicker</li></a><br>
          <a href="/mobile/knowdevice"><li>Device Picker</li></a><br>
          <a href="/mobile/resources"><li> Resources</li></a><br>
          <a href="/mobile/gpaCalculator"><li> GPACalculator</li></a><br>
          <a href="/mobile/about"><li>About CollegePlus™</li></a><br>
          <a href="/mobile/logout"><li>Log out</li></a><br>
        </ul>
      </div>
      <div id="logo" style="text-align: center; justify-content: center;">
        <h1 style="width:45%; margin: auto; cursor: pointer; height: 100%; padding-top: 2%; margin-top: .8vh;" id="college">College<m id="plus"> + </m></h1>
        </div>
        <div id="poop">
          <form action="/mobile/login_page" method="get">
            <p style="margin-top: -10px; font-size: 3vw; height: 100%;"> <button type="submit" name="button" style="vertical-align: middle; height: 60px; color: {{iconcolor}}; max-width: 70px;"><i style="font-size: 40pt;" class="material-icons">account_circle</i></button></p>
          </form>
        </div> 
      </div>
    </nav>
    <div style="display: none;">
      <p id = "dummy">dummy</p> 
      <p id = "blackPop">{{blackPop}}</p>
      <p id = "whitePop">{{whitePop}}</p>
      <p id = "asianPop">{{asianPop}}</p>
      <p id = "hispanicPop">{{hispanicPop}}</p>
      <p id = "colleges">{{colleges}}</p>
      <p id = "collegeLinks">{{collegeLinks}}</p>
      <p id = "collegeTemperature">{{collegeTemperature}}</p>
      <p id = "collegeWeather">{{collegeWeather}}</p>
      <p id = "collegeACTS">{{collegeACTS}}</p>
      <p id = "collegeSATMath">{{collegeSATMath}}</p>
      <p id = "collegeSATReading">{{collegeSATReading}}</p>
      <p id = "collegePrices">{{collegePrices}}</p>
      <p id = "collegeNiche">{{collegeNiche}}</p>
      <p id = "collegePriceCalculators">{{collegePriceCalculators}}</p>
      <p id = "collegeStates">{{collegeStates}}</p>
    </div>
    <div id="recs">
      <h1 style="font-size: 32pt; color:#000000; padding-top: 3%; padding-bottom: 3%; background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url('../pictures/Oxford-Sample.jpg'); background-repeat: no-repeat; background-size: 75vw 20vh; width: 75vw; margin-right: auto; margin-left: auto;font-family: Poppins, sans-serif; font-weight: 500;">
        The Colleges you got paired with are:
      </h1>
      
      <p id="majors">
        
        
        
      </p>
      <!-- <input type="button" id = "morecolleges" value="View all the colleges you matched with" style=" border-radius: 5px; color: white; border-radius: 10px; background-color: tomato;">
      </input> -->
      <p id="morecollegestext" style="display: none; font-size: 18pt; color: tomato;">
          {{morecoll}}
      </p>
    </div>
    <div id="bttmbtns" style="margin-bottom: 10%; text-align: center; display: flex; flex-direction: row;">
      <div style = "width: 10%">

      </div>
      <div style = "width: 40%">
        <form action="/login_page" method="get">
          <input type="submit" id="recsnext" style="margin-top: 10px; border-radius: 5px; height: 70px; font-size: 15pt; margin-bottom: 3%; font-family: 'Quicksand', sans serif;" value = "View Profile"></input>
        </form>
      </div>
      <div style = "width: 40%">
        <form action="/mobile/knowdevice" method="get">
          <input type="submit" id="gotodegrec" style="margin-top: 10px; border-radius: 5px; margin-bottom: 20%;height: 70px; ; font-size: 15pt; font-family: 'Quicksand', sans serif;" value = "More College Resources"></input>
        </form>
      </div>
      <div style = "width: 10%">

      </div>
    </div>
    <script data-ad-client="ca-pub-2209994521755973" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Display Ads -->

    <footer >
      <div>
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-2209994521755973"
        data-ad-slot="3051770603"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
      </div>
      <div style="display: flex; flex-direction: row; padding-bottom: 3%; padding-top: 3%;">
        <div style="width: 40%; text-align: right;">
          <img src= "{% static '/pictures/collegeplus2.png'%}" style="width: 50px; height: 50px; margin-top: 10px; margin-right: 10%;"></img>
        </div>
        <div style="width: 60%; text-align: left;">
          <p style="margin-top: 4.3%;">CollegePlus™ by Slo-Meg Technologies</p>
        </div>
      </div>
      

      <!-- <p>Contact information: </p>
      <p>CollegePlus™ Instagram: <a href="https://instagram.com/collegeplusstudents" style="color:#ff6347"> @collegeplusstudents </a></p> 
       <p> Logan Sage's Instagram:<a href="https://instagram.com/logan.sage?igshid=9y9y1s2c6abq" style="color:#ff6347"> @logan.sage   </a><p>  </p><a href="https://instagram.com/logan.sage?igshid=9y9y1s2c6abq"><img src="{% static '/picture/Logan.jpg" style="width: 30px; height:30px;border-radius: 50%;"></img></a></p>
      <p> Lauren-Megan Botha's Instagram: <a href="https://instagram.com/lolygagging_lemur?igshid=uvlgdn5hwelx" style="color:#ff6347"> @laurenmegan.b   </a><p>  </p><a href="https://instagram.com/lolygagging_lemur?igshid=uvlgdn5hwelx"><img src="{% static '/picture/Lauren.jpg" style="width: 30px; height:30px;border-radius: 50%"></img></a></p>
      <p> Seun Suberu's Instagram: <a href="https://www.instagram.com/sensei.seun/" style="color:#ff6347"> @sensei.seun   </a><p>  </p><a href="https://www.instagram.com/sensei.seun/"><img src="{% static '/picture/Seun.jpg" style="width: 30px; height:30px;border-radius: 50%; "></img></a></p> -->
    </footer>
  </body>
</html>
