{% load static %}
<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/pictures/collegeplus2.png'%}"/>
    <link rel="shortcut icon" href="{% static '/pictures/collegeplus2.png'%}" />
    <link rel="address bar icon" href="{% static '/pictures/collegeplus2.png'%}"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/pictures/collegeplus2.png'%}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/pictures/collegeplus2.png'%}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/pictures/collegeplus2.png'%}"/>
    <link rel="manifest" href="/site.webmanifest">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Outline&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static '/pictures/collegeplus2.png'%}">
    <link rel="stylesheet" href="{% static '/styles/fakewebsite.css'%}">
    <link rel="stylesheet" href = "{% static 'styles/headerTemplate.css' %}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js">
    </script>
    <script data-ad-client="ca-pub-2209994521755973" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-2209994521755973",
              enable_page_level_ads: true
        });
    </script>
    <style>
      body{
        background-color: #efefef;
      }
        .messageButton{
            background-color: #0099cc;
            border-radius: 50px;
            padding : 10px;
            font-size: 12pt;
            cursor: pointer;
        }

        .messageButton span{
            font-size: 12pt;
        }
    </style>
    <script>


     function onLoad(){
          $("#logout").click(function(){

            document.location.href = "/logout";
          });
          $("#logout").hover(function(){
            $("#logout").css("cursor", "pointer");
          });

            
         }

        let navigateToMessages = () => {
            document.location.href = "../buy/{{college}}" ;
        }

        window.onload = onLoad
    </script>
    <script src="{% static 'scripts/header.js' %}"></script>
    <title> Posted</title>
    </head>
    <body>
    <div>
      <nav role="navigation" id = "navbar">
        <div id="menuToggle" style = "width : 20vw; min-width: 50px;">
          <div id = 'box' style = "padding-top: 2vw; margin-left: 2vw; padding-right: 10vw;" onclick="boxClick()">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <input type="checkbox" id = "check"/>
          <ul id="menu" style="font-family: 'Montserrat', sans-serif;">
            <a href="/home"><li class = "menuElements">Home</li></a><br>
            <a href="/knowcollege"><li class = "menuElements">CollegePicker</li></a><br>
            <a href="/knowdegree"><li class = "menuElements">DegreePicker</li></a><br>
            <a href="/knowdevice"><li class = "menuElements">DevicePicker</li></a><br>
             <a href="/knowSupplies"><li class = "menuElements">SuppliesPicker</li></a><br>
          <a href="/buyOrSell"><li class = "menuElements">ProductPicker</li></a><br>            <a href="/resources"><li class = "menuElements"> Resources</li></a><br>
            <a href="/gpaCalculator"><li class = "menuElements"> GPACalculator</li></a><br>
            <a href="/about"><li class = "menuElements">About CollegePlus™</li></a><br>
            <a href="/logout"><li class = "menuElements">Log out</li></a><br>
          </ul>
  
        </div>
        <div id="logo" onclick="logoClick('{{city}}')">
          <h1 class = 'bigTitle'>
            <m>College</m><m style ="color: tomato">Plus</m>
          </h1>
          <!-- <img src="{% static 'pictures/Lyfe_Here_header.png' %}" class="logo-image center d-inline-block align-middle" style = "min-width: 200px;" alt="Lyfe Here Logo" > -->
        </div>
        <div style = "width : 20vw;">
          <div id="poop" style = "text-align: right;">
            <i class="material-icons" id = "personIcon" onclick="goToSave()">account_circle</i> 
  
          </div>
        </div>
      </nav>
      <div id="knowcollege" style="margin-top: 20%; text-align : center; padding-bottom: 50vh;">
            <h1 id="question" style="font-family: Montserrat, sans-serif; color : black; text-align: center; font-size: 36pt;">Item Posted!</h1>
            <span class="material-icons" style = "font-size: 150pt; margin-top : 10%; color : green">
            check_circle_outline
            </span>
            <div style=  "width: 100vw; text-align : center; display: inline-flex; flex-direction: column; align-items: center" onclick="navigateToMessages()">
                <h3 class = "messageButton">
                  View Listing
                  <span class="material-icons">
                      message
                      </span>
                </h3>
            </div>
        </div>
        
      <script data-ad-client="ca-pub-2209994521755973" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

      </div>
    <footer >
      <div>
        <ins class="adsbygoogle"
        style="display:block; text-align:center;"
        data-ad-layout="in-article"
        data-ad-format="fluid"
        data-ad-client="ca-pub-2209994521755973"
        data-ad-slot="9243687244"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
      <div style="display: flex; flex-direction: row; padding-bottom: 0%; padding-top: 3%;">
        <div style="width: 40%; text-align: right;">
          <img src= "{% static '/pictures/collegeplus2.png'%}" style="width: 50px; height: 50px; margin-top: 10px; margin-right: 10%;"></img>
        </div>
        <div style="width: 60%; text-align: left;">
          <p style="margin-top: 3.2%;">CollegePlus™ by Slo-Meg Technologies</p>
        </div>
      </div>

      

      <!-- <p>Contact information: </p>
      <p>CollegePlus™ Instagram: <a href="https://instagram.com/collegeplusstudents" style="color:#ff6347"> @collegeplusstudents </a></p> 
       <p> Logan Sage's Instagram:<a href="https://instagram.com/logan.sage?igshid=9y9y1s2c6abq" style="color:#ff6347"> @logan.sage   </a><p>  </p><a href="https://instagram.com/logan.sage?igshid=9y9y1s2c6abq"><img src="{% static '/picture/Logan.jpg" style="width: 30px; height:30px;border-radius: 50%;"></img></a></p>
      <p> Lauren-Megan Botha's Instagram: <a href="https://instagram.com/lolygagging_lemur?igshid=uvlgdn5hwelx" style="color:#ff6347"> @laurenmegan.b   </a><p>  </p><a href="https://instagram.com/lolygagging_lemur?igshid=uvlgdn5hwelx"><img src="{% static '/picture/Lauren.jpg" style="width: 30px; height:30px;border-radius: 50%"></img></a></p>
      <p> Seun Suberu's Instagram: <a href="https://www.instagram.com/sensei.seun/" style="color:#ff6347"> @sensei.seun   </a><p>  </p><a href="https://www.instagram.com/sensei.seun/"><img src="{% static '/picture/Seun.jpg" style="width: 30px; height:30px;border-radius: 50%; "></img></a></p> -->
    </footer>
  </body>
</html>
