body{
  color:lightgrey;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
}
#deviceshoweerdiv{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5%;
  color:black;


}
footer {
  position: absolute;
  background-color: #232323;
  margin-bottom: -100px;
  text-align: center;
  padding-bottom: 20px;
  color: white;
  width: 100%;
}
a
{
  text-decoration: none;
  color: #000000;

  transition: color 0.3s ease;
}

#menuToggle li:hover
{
  color: tomato;

}

#menuToggle
{
  display: block;
  position: fixed;
  top: 45px;
  left: 45px;

  z-index: 2;

  -webkit-user-select: none;
  user-select: none;
}
#poop
{
  display: block;
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 1;

}

#poop button {
    background-color: Transparent;
    background: #cdcdcd;
    border-radius: 50px;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 27px;


}
#poop i{
  text-align: center;
  align-items: center;
  justify-content: center;

}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 3; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 2;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);

}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: fixed;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

  height: 100%;
}

#menu li
{
  padding: 10px 0 0 0 ;
  font-size: 22px;
  color:black;
  transition: color 0.3s ease;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
#logo{
  text-transform: uppercase;
  position:fixed;
  background-color: #232323;
  text-align: center;
  font-size: 85px;
  justify-content:center;
  width:100%;
  padding-top: 0px;
  margin-top: 0px;
  position: 0;
  padding-bottom: 10px;
  top:0;
  height: 100px;
  z-index: 1;
  border-color: 2px solid black;
}
#plus{
  color:tomato;
  font-size: 85px;
  font-weight: 400;
}
#college{
  color:lightgrey;
  font-size: 85px;
  border-color: 2px solid black;
  margin-top: -5px;
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight: 400;


}
#statement{
  margin-top: 15%;
  margin-bottom: 5%;
  text-align: center;
  color:black;
  font-size: 24pt;
}
#bttmbtns{
  text-align: center;
  justify-content: center;
  margin-bottom: 5%;
  margin-top: 5%;
}
#recsnext{
  background-color: #343434;
  color: white;
  width: 200px;
  height: 75px;
  font-size: 16px;
  cursor: pointer;
  /* border: 5px outset tomato; */
  opacity: 1;
  border: none;
  border-radius: 5px;
}
#recsnext:hover{
  background-color: #232323;
  -webkit-appearance: none;
}
#gotodegrec{
  background-color: #343434;
  color: white;
  width: 200px;
  height: 75px;
  font-size: 16px;
  cursor: pointer;
  /* border: 5px outset tomato; */
  opacity: 1;
  border: none;
  border-radius: 5px;
}
#gotodegrec:hover{
  background-color: #232323;
  -webkit-appearance: none;
}
.bttn{
  background-color: tomato;
  color: white;
  width: 200px;
  height: 50px;
  font-size: 16px;
  cursor: pointer;
  /* border: 5px outset tomato; */
  opacity: 1;
  border: none;
  border-radius: 5px;

}
.innerdiv{
  text-align: center;
  justify-content: center;
  width:100%;
}
